@import '../../variables.scss';

.UnderConstruction {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    margin-top: 10px;
    font-size: 18px;
  }
}
