@import '../../variables.scss';

.NewCustomer {
  width: calc(100% - 20px - 20px);
  max-width: calc(1180px - 20px - 20px);
  height: calc(100% - 50px - 50px);
  overflow-y: auto;
  margin: 0 auto;
  padding: 50px 20px;

  .btn-save, .btn-new-customer {
    outline: none;
    border: none;
    width: 425px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: $primary-button-background-color;
    color: $primary-button-text-color;
    font-size: 16px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    span {
      margin-left: 10px;
    }
  }
}
