@import '../../variables.scss';

.Input {
  position: relative;
  width: 425px;
  max-width: 100%;
  display: flex;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

  input, textarea {
    all: unset;
    outline: none;
    border: none;
    width: calc(100% - 10px - 10px);
    padding: 15px 10px;
    border-radius: 5px;
    background-color: $input-background-color;
    font-size: 16px;
  }

  .placeholder {
    position: absolute;
    top: 16px;
    left: 11px;
    color: $placeholder-text-color;
  }
}