@import '../../variables.scss';

.NewOrder {
  width: calc(100% - 20px - 20px);
  max-width: calc(1180px - 20px - 20px);
  height: calc(100% - 50px - 50px);
  overflow-y: auto;
  margin: 0 auto;
  padding: 50px 20px;

  .btn-save {
    @include button();
  }

  .btn-new-order {
    @include button();
  }
}
