$background-color: #EFEFEF;
$text-color: #333333;
$bottom-menu-background-color: #333333;
$bottom-menu-text-color: #EEEEEE;
$menu-background-color: #555555;
$menu-text-color: #EEEEEE;
$input-border-color: #CCCCCC;
$scrollbar-color: #555555;
$placeholder-color: #777777;
$primary-button-background-color: #333333;
$primary-button-text-color: #EFEFEF;
$hover-color: #DFDFDF;