$background-color: #EFEFEF;
$text-color: #333333;
$bottom-menu-background-color: #333333;
$bottom-menu-text-color: #EEEEEE;
$menu-background-color: #555555;
$menu-text-color: #EEEEEE;
$input-border-color: #CCCCCC;
$input-background-color: #FFFFFF;
$input-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
$scrollbar-color: #555555;
$placeholder-text-color: #777777;
$primary-button-background-color: #333333;
$primary-button-text-color: #EFEFEF;
$hover-color: #DFDFDF;