$background-color: #EFEFEF;
$text-color: #333333;
$bottom-menu-background-color: #333333;
$bottom-menu-text-color: #EEEEEE;
$menu-background-color: #555555;
$menu-text-color: #EEEEEE;
$input-border-color: #CCCCCC;
$input-background-color: #FFFFFF;
$input-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
$scrollbar-color: #555555;
$placeholder-text-color: #777777;
$primary-button-background-color: #333333;
$primary-button-text-color: #EFEFEF;
$hover-color: #DFDFDF;

@mixin button() {
  outline: none;
  border: none;
  width: 425px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 5px;
  background-color: $primary-button-background-color;
  color: $primary-button-text-color;
  font-size: 16px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  span {
    margin-left: 10px;
  }
}